{% extends 'pcps/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 text-center">
    <h1 class="fw-bold mb-5">Our Faculty Strength</h1>
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card p-4 shadow-sm border-danger">
                <h4 class="text-danger">Civil Engineering Department</h4>
                <p class="mb-1"><strong>HOD:</strong>Mr. Gobinda Ram Kalita</p>
                <p class="mb-1">Teaching Staff: 7</p>
                <p>Assistant Staff: 3</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4 shadow-sm border-primary">
                <h4 class="text-primary">Computer Engineering Department</h4>
                <p class="mb-1"><strong>HOD:</strong>Mrs. Jyotsna Rani Das</p>
                <p class="mb-1">Teaching Staff: 5</p>
                <p>Assistant Staff: 2</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4 shadow-sm border-success">
                <h4 class="text-success">Architectural Assistantship Department</h4>
                <p class="mb-1"><strong>HOD:</strong>Mrs. Jina Deka</p>
                <p class="mb-1">Teaching Staff: 8</p>
                <p>Assistant Staff: 4</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}