{% extends 'pcps/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="fw-bold mb-4">Events & Memories</h2>
    <div class="row g-3">
        <div class="col-md-4"><img src="{% static 'pcps/image/Alumni.jpeg' %}" class="img-fluid rounded shadow-sm"></div>
        <div class="col-md-4"><img src="{% static 'pcps/image/Alumni Chorus.jpeg' %}" class="img-fluid rounded shadow-sm"></div>
        <div class="col-md-4"><img src="{% static 'pcps/image/Computer Dept.jpeg' %}" class="img-fluid rounded shadow-sm"></div>
        <div class="col-md-4"><img src="{% static 'pcps/image/Civil Dept.jpeg' %}" class="img-fluid rounded shadow-sm"></div>
        <div class="col-md-4"><img src="{% static 'pcps/image/Placement Teachers.jpeg' %}" class="img-fluid rounded shadow-sm"></div>
        <div class="col-md-4"><img src="{% static 'pcps/image/Placement Interview.jpeg' %}" class="img-fluid rounded shadow-sm"></div>
        <div class="col-md-4"><img src="{% static 'pcps/image/Placement Volunteer.jpeg' %}" class="img-fluid rounded shadow-sm"></div>
        <div class="col-md-4"><img src="{% static 'pcps/image/Architectutal Assistantship.jpeg' %}" class="img-fluid rounded shadow-sm"></div>
        <div class="col-md-4"><img src="{% static 'pcps/image/Computer Crowd.jpeg' %}" class="img-fluid rounded shadow-sm"></div>
    </div>
</div>
{% endblock %}